[submodule "external/vcpkg"]
	path = external/vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "external/ImGuiColorTextEdit"]
	path = external/ImGuiColorTextEdit
	url = https://github.com/anirul/ImGuiColorTextEdit.git
[submodule "external/ImNodeFlow"]
	path = external/ImNodeFlow
	url = https://github.com/Fattorino/ImNodeFlow.git
